<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Blog Form</title>
        <link rel="stylesheet" href="open.css" />
    </head>
    <body>
        <div id="main-body">
            <div class="Blog-title">
                <h1><%= blog_title_n %></h1>
            </div>

            <div class="Blog-content">
                <p><%= blog_content_n %></p>
            </div>

            <div class="author-name">
                <p><%= blog_users_n %></p>
            </div>
        </div>
    </body>
</html>
